.row
  #edit_page.col-md-8.offset-md-2
    .card
      .card-header
        %h1 Fix Pic
      .card-body
        .current_image
          %strong.center Right Now
          = image_tag @pic.image.url(:medium)
        = render 'form'
